<nav>
    <ul>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/">Homepage</a></li>
    </ul>
</nav>
<header>
    <h1>Net Ninja OAuth Tut's</h1>
    <h2>Homepage</h2>
</header>
<main>
    <p>Probably the best OAuth tutorials on the planet :)</p>
</main>