<style>
    nav ul{
        max-width: 960px;
        margin: 0 auto;
        padding: 0;
    }
    nav li{
        list-style-type: none;
        display: inline-block;
        margin: 0 10px 0 0;
    }
    .google-btn{
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        padding: 10px;
        background: #fff5f5;
    }
</style>  
<nav>
    <ul>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/">Homepage</a></li>
    </ul>
</nav>
<header>
    <h1>Login using...</h1>
</header>
<main>
    <a class="google-btn" href="/auth/google">Google+</a>
</main>